/.vs/WebApiRetriever/v17
/WebApiRetriever/bin
/.vs/WebApiRetriever/v17
/WebApiRetriever/bin/Debug
WebApiRetriever/obj/project.nuget.cache
/.vs/WebApiRetriever/v17
/WebApiRetriever/obj/Debug
/WebApiRetriever/obj/Debug
WebApiRetriever/obj/Debug/net8.0/WebApiRetriever.assets.cache
WebApiRetriever/obj/Debug/net8.0/WebApiRetriever.csproj.FileListAbsolute.txt
/.vs/WebApiRetriever/v17
/WebApiRetriever/obj/Debug/net8.0
WebApiRetriever/obj/Debug/net8.0/apphost.exe
.vs/WebApiRetriever/v17/.suo
.vs/WebApiRetriever/v17/DocumentLayout.backup.json
.vs/WebApiRetriever/v17/DocumentLayout.json
